@font-face {
	font-family: "TradeGothic";
	src: url("../../assets/fonts/TradeGothic.eot#iefix");
	src: url("../../assets/fonts/TradeGothic.eot?#iefix") format("eot"),
		url("../../assets/fonts/TradeGothic.woff2") format("woff2"),
		url("../../assets/fonts/TradeGothic.woff") format("woff"),
		url("../../assets/fonts/TradeGothic.ttf") format("truetype"),
		url("../../assets/fonts/TradeGothic.svg#df0f9c50-3ce3-4b1f-8120-074ca66b83b1")
			format("svg");
}

html,body{
	background-color: #050808;
}
.PlayerDetail {
	font-family: "TradeGothic", "微软雅黑";

	background: #101010;
}
p {
	padding: 0;
	margin: 0;
}
.header {
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 450px;
	background-color: #050808;
}

.header .imagesBox,
.imagesBox > div {
	width: 100%;
	height: 100%;
	position: relative;
}

.imagesBox > div {
	position: absolute;
	background-repeat: no-repeat;
}
.imagesBox > .player {
	max-width: 1200px;
	left: 50%;
	transform: translateX(-50%);
	background-position: 10% 100%;
}
.imagesBox > .left {
	background-image: url("../../assets/magic-blue-left-L.jpg");
	background-position: 0 100%;
}
.imagesBox > .right {
	background-image: url("../../assets/magic-blue-right-L.jpg");
	background-position: 100% 100%;
}

.playerInfo {
	font-family: "TradeGothic", "微软雅黑";
	color: #fff;
	font-size: 40px;
	text-align: right;
	margin-top: 200px;
	margin-right: 50px;
}

.playerInfo .enName {
	font-size: 75px;
}


.championImageBox{
	position: relative;
}
.championImage {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	overflow: hidden;
}



.championImageBox.win::before,.championImageBox.loss::before{
	content: "胜";
	display: block;
	position: absolute;
	width: 26px;
	height: 26px;
	line-height: 23px;
	border-radius: 50%;
	border: 2px solid #35ab6a;
	color: #35ab6a;
	background-color: black;
	text-align: center;
	font-size: 12px;
	top: -5px;
	left: -5px;
	z-index: 1;
	box-sizing: border-box;

}


.championImageBox.loss::before{
	content: "负";

	border: 2px solid #b7374b;
	color: #b7374b;

}
.championImage img{
	width: calc(100% + 8px);
	height: calc(100% + 8px);
	margin-left: -4px;
	margin-top: -4px;

}
.matchList {
	max-width: 1200px;
	margin: 0 auto;
}
.matchList-title {
	font-size: 48px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
}
.matchList-item {
	display: flex;
	justify-content: space-around;
	height: 124px;
	border-top: 1px solid #444b52;
	align-items: center;
}

.matchList-item:last {
	border-bottom: 1px solid #444b52;
}
.matchList-item .tinyText {
	color: #444b52;
	font-size: 16px;
}
.matchList-item > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	color: #fff;
	font-size: 19px;
}

.ant-collapse-borderless {
	background: transparent;
}
.ant-collapse-header {
	width: 100%;
}
.ant-collapse-borderless > .ant-collapse-item {
	border: 0;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
	padding: 0;
}


.ant-tabs{
	color: #fff;
}
.arrow {
	display: none;
}
.tab-content {
	color: #fff;
}

.down-icon {
	font-size: 20px;
	color: #fff;
	transition: all 0.3s;
}
.ant-collapse-item-active .down-icon {
	transform: rotate(180deg);
}

.heroInfo {
	/* max-width: 700px;
	margin: 0 auto; */
}
.heroInfo-items {
/* 	display: flex;
	align-items: center; */

	font-size: 20px;
	color: #fff;
	font-weight: bold;
	margin: 0 0 20px 0;
}
.heroInfo-title {
	
}
.item-img{
	width: 64px;
	height: 64px;
}
.item-img img{
	width: 100%;
}

@media screen and (max-width: 768px) { 
	.item-img{
		width:50px;
		height:50px;
	}
	.championImage{
		width: 60px;
		height: 60px;
	}
	.matchList-item > div{
		font-size: 12px;
	}
	.heroInfo-items{
		font-size: 14px;
	}
	.header{
		height: 360px;
	}
	.imagesBox > .right{
		display: none;
	}
	.imagesBox > .player {
		background-position: -20px 100% ;
		-webkit-background-size: contain;
		background-size: contain;
		
	}
	.playerInfo{
		margin-top: 150px;
		margin-right: 20px;
		text-shadow: black 2px 2px; 
	}
} 