@font-face {
	font-family: "TradeGothic";
	src: url("//static.tuwan.com/templet/lol/hd/rune_of_pro/fonts/TradeGothic.eot#iefix");
	src: url("//static.tuwan.com/templet/lol/hd/rune_of_pro/fonts/TradeGothic.eot?#iefix")
			format("eot"),
		url("//static.tuwan.com/templet/lol/hd/rune_of_pro/fonts/TradeGothic.woff2")
			format("woff2"),
		url("//static.tuwan.com/templet/lol/hd/rune_of_pro/fonts/TradeGothic.woff")
			format("woff"),
		url("//static.tuwan.com/templet/lol/hd/rune_of_pro/fonts/TradeGothic.ttf")
			format("truetype"),
		url("//static.tuwan.com/templet/lol/hd/rune_of_pro/fonts/TradeGothic.svg#df0f9c50-3ce3-4b1f-8120-074ca66b83b1")
			format("svg");
}

.PlayerDetail {
	font-family: "TradeGothic", "Monospaced Number", "Chinese Quote",
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
		Arial, sans-serif;

	background: #000c17;
	min-height: 100vh;
}
p {
	padding: 0;
	margin: 0;
}
.PlayerDetail .header {
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 450px;
	background-color: #050808;
}

.PlayerDetail .header .imagesBox,
.PlayerDetail .imagesBox > div {
	width: 100%;
	height: 100%;
	position: relative;
}

.PlayerDetail .imagesBox > div {
	position: absolute;
	background-repeat: no-repeat;
}
.PlayerDetail .imagesBox > .player {
	max-width: 1200px;
	left: 50%;
	transform: translateX(-50%);
	background-position: 10% 100%;
}
.PlayerDetail .imagesBox > .left {
	background-image: url("//static.tuwan.com/templet/lol/hd/rune_of_pro/images/magic-blue-left-L.jpg");
	background-position: 0 100%;
}
.PlayerDetail .imagesBox > .right {
	background-image: url("//static.tuwan.com/templet/lol/hd/rune_of_pro/images/magic-blue-right-L.jpg");
	background-position: 100% 100%;
}

.PlayerDetail .playerInfo {
	color: #fff;
	font-size: 40px;
	text-align: right;
	margin-top: 120px;
	margin-right: 50px;
}

.PlayerDetail .player-position-icon {
	width: 80px;
	height: 80px;
	margin-top: 10px;
}
.PlayerDetail .playerInfo .enName {
	font-size: 75px;
}

.PlayerDetail .championImageBox {
	position: relative;
}
.PlayerDetail .championImage {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	overflow: hidden;
}

.PlayerDetail .championImageBox.win::before,
.PlayerDetail .championImageBox.loss::before {
	content: "胜";
	display: block;
	position: absolute;
	width: 26px;
	height: 26px;
	line-height: 23px;
	border-radius: 50%;
	border: 2px solid #35ab6a;
	color: #35ab6a;
	background-color: black;
	text-align: center;
	font-size: 12px;
	top: -5px;
	left: -5px;
	z-index: 1;
	box-sizing: border-box;
}

.PlayerDetail .championImageBox.loss::before {
	content: "负";

	border: 2px solid #b7374b;
	color: #b7374b;
}
.PlayerDetail .championImage img {
	width: calc(100% + 8px);
	height: calc(100% + 8px);
	margin-left: -4px;
	margin-top: -4px;
}
.PlayerDetail .matchList {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 500px;
}

.PlayerDetail .matchList-title {
	font-size: 48px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
}
.PlayerDetail .matchList-item {
	display: flex;
	justify-content: space-around;
	height: 124px;
	border-top: 1px solid #444b52;
	align-items: center;
}

.PlayerDetail .matchList-item:last {
	border-bottom: 1px solid #444b52;
}
.PlayerDetail .matchList-item .tinyText {
	color: #444b52;
	font-size: 16px;
}
.PlayerDetail .matchList-item > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	color: #fff;
	font-size: 19px;
}

.PlayerDetail .ant-collapse-borderless {
	background: transparent;
}
.PlayerDetail .ant-collapse-header {
	width: 100%;
}
.PlayerDetail .ant-collapse-borderless > .ant-collapse-item {
	border: 0;
}
.PlayerDetail .ant-collapse > .ant-collapse-item > .ant-collapse-header {
	padding: 0;
}

.PlayerDetail .ant-tabs {
	color: #fff;
}
.PlayerDetail .arrow {
	display: none;
}
.PlayerDetail .tab-content {
	color: #fff;
}

.PlayerDetail .down-icon {
	font-size: 20px;
	color: #fff;
	transition: all 0.3s;
}
.PlayerDetail .ant-collapse-item-active .down-icon {
	transform: rotate(180deg);
}

.PlayerDetail .heroInfo {
	/* max-width: 700px;
	margin: 0 auto; */
}
.PlayerDetail .heroInfo-items {
	/* 	display: flex;
	align-items: center; */

	font-size: 20px;
	color: #fff;
	font-weight: bold;
	margin: 0 0 20px 0;
}
.PlayerDetail .heroInfo-title {
}
.PlayerDetail .item-img {
	width: 64px;
	height: 64px;
}
.PlayerDetail .item-img img {
	width: 100%;
}

.PlayerDetail .no-stats {
	color: #fff;
	margin: 0 auto;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.PlayerDetail .item-img {
		width: 50px;
		height: 50px;
	}
	.PlayerDetail .championImage {
		width: 60px;
		height: 60px;
	}
	.PlayerDetail .matchList-item > div {
		font-size: 12px;
	}
	.PlayerDetail .heroInfo-items {
		font-size: 14px;
	}
	.PlayerDetail .header {
		height: 360px;
	}
	.PlayerDetail .imagesBox > .right {
		display: none;
	}
	.PlayerDetail .imagesBox > .player {
		background-position: -20px 100%;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.PlayerDetail .playerInfo {
		margin-top: 100px;
		margin-right: 20px;
		text-shadow: black 2px 2px;
	}
	.PlayerDetail .playerInfo .enName {
		font-size: 45px;
	}

	.PlayerDetail .RealName .enName {
		font-size: 25px;
	}

	.PlayerDetail .searchBox {
		margin-bottom: 50px;
	}
	.PlayerDetail .searchBox .filterInput {
		top: 100%;
		right: 50%;
		transform: translateX(50%);
	}
}

@media screen and (max-width: 400px) {
	.PlayerDetail .imagesBox > .player {
		background-position: -70px 100%;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.PlayerDetail .playerInfo .enName {
		font-size: 40px;
	}
}
