.positionTab {
	max-width: 1200px;
	margin: 50px auto 50px;
}

.playerList {
	display: flex;
	flex-wrap: wrap;
}

.player {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 16.6%;
}
.player .playerImg {
	width: 150px;
	height: 150px;
}
.playerName {
	color: #fff;
}
li > a {
	display: block;
}

.ant-tabs {
	color: #fff;
}

.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover,
.player:hover .playerName {
	color: #c79a3c;
}
.ant-tabs-ink-bar {
	background-color: #c79a3c;
}
.ant-tabs-bar {
	border-bottom: 1px solid #4c4c4c;
}

.ant-tabs-nav-scroll {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.ant-tabs-nav .ant-tabs-tab {
		margin: 0 10px 0 0;
	}

	.player {
		width: 50%;
	}
}
@media screen and (max-width: 375px) {
	.ant-tabs-nav .ant-tabs-tab {
		margin: 0 3px 0 0;
	}
}
